header {
	//display: flex;
	height: 60px;
	text-align: center;
	i {
		font-size: 1.1rem;
		color: $black;
		top: 1.6rem;
		left: 1.4rem;
		font-weight: bold;
		position: absolute;
	}

	img {
		height: 28px;
		margin-top: 1.2rem;
	}
}
