html {
  font-size: 16px;
  background-color: $white;

  body {
    background-color: $white;
    font-family: $font-family-primary;
    width: auto;
    font-size: 1rem;
    color: $black;

    .spin {
      border-top: 10px solid $secondary;
      border-right: 10px solid $tertiary;
      border-bottom: 10px solid $color;
      border-left: 10px solid $primary;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      /*placement du loader au milieu de la page*/
      margin: auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      animation: spin 0.8s linear 2;
      animation-fill-mode: forwards;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
        visibility: hidden;
      }
    }

    .Loader {
      animation: page 3s;
    }
    @keyframes page {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @import "header";

    main {
      .menu {
        background-color: $color-cards;
        align-items: center;
        text-align: center;
        .map {
          height: 50px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          background-color: $background-color-map;
          gap: 1.1rem;
          padding-right: 1.8rem;
          font-size: 1.2rem;
          font-weight: bold;
          box-shadow: $box-shadow-map;
          i {
            margin-bottom: 0.3rem;
            font-size: 16px;
            cursor: pointer;
          }
          input {
            background-color: $background-color-map;
          }
          p {
            font-size: 16px;
            font-weight: 700;
          }
        }

        .reservez {
          font-size: 25px;
          font-weight: 900;
          margin: 2.4rem 0 0.8rem 0;
          line-height: 1.7rem;
        }
        .decouvrez {
          font-size: 1rem;
        }
        .btn {
          padding: 1rem 1.5rem 1rem 1.5rem;
          border-radius: 2.5rem;
          border: none;
          margin: 1.8rem 3.5rem;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          color: $white;
          background: linear-gradient(162deg, $secondary 0%, $primary 100%);
          box-shadow: $box-shadow-btn;
          transition: all 0.4s;

          &:hover {
            opacity: 0.8;
            box-shadow: $box-shadow-hover-btn;
          }
        }
      }
      .fonctionnement {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        background-color: $white;
        align-items: center;
        margin-bottom: 3rem;
        margin-right: 10px; 

        h3 {
          margin: 2.8rem 1.3rem 1.4rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .ol {
          margin: 0;
          padding: 0;
           
          ol {
            display: grid;
            grid-template-columns: repeat(1, 3fr);
            grid-gap: 1.5rem;
            margin-bottom: 1.25rem;
            align-items: center;
          }
          //breackpoint
          @media (min-width: 1200px) {
            grid-template-columns: repeat(3, 3fr);
          }

          .icon {
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $color-cards;
            font-size: 1.5rem;
            list-style-type: none;
            box-shadow: $box-shadow-btn;
            cursor: pointer;
            margin: 0 0.5rem 0 2rem;
            counter-increment: restaus;
            position: relative;
            transition: all 0.4s;
            &:hover {
              background: $color-hover-cards;
              box-shadow: $box-shadow-hover-btn;
              cursor: pointer;
              &:hover i {
                color: $primary;
              }
            }
            .i {
              font-size: 1rem;
              font-weight: bold;
              margin-left: 1rem;
              color: $color-icon;
              align-items: center;
              &:hover {
                color: $primary;
              }
            }

            &:before {
              content: counter(restaus);
              width: 1.5rem;
              height: 1.5rem;
              background-color: $primary;
              border-radius: 50%;
              font-weight: bold;
              font-size: 0.9rem;
              color: $white;
              position: absolute;
              left: -0.7rem;
              top: 1.8rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            li::marker {
              color: $primary;
            }
            .un {
              font-size: 1.3rem;
              font-weight: bold;
              margin-left: 1rem;
              color: $color-icon;
            }
            .deux {
              font-size: 1.1rem;
              font-weight: bold;
              margin-left: 1rem;
              color: $color-icon;
            }

            .trois {
              font-size: 1rem;
              font-weight: bold;
              margin-left: 1rem;
              color: $color-icon;
            }

            .text {
              margin: 1rem;
              text-decoration: none;
              font-size: 1rem;
              font-weight: 500;
              color: $black;
            }
          }
        }
      }

      .restaurants {
        background-color: $color-cards;
        padding-bottom: 4rem;
        h3 {
          padding-top: 3rem;
          margin: 2.8rem 1.3rem 1.4rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .rest {
          font-size: 1.5rem;
          font-weight: bold;
          margin-left: 1rem;
        }
        .vignettes {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 1.2rem;
          margin: 0 1.2rem 0 1.2rem;
          //breakpoint
          @media (min-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 4fr);
          }

          .vignette {
            border-radius: 1rem;
            background-color: $white;
            box-shadow: $box-shadow-btn;
            height: 270px;
            position: relative;
            cursor: pointer;
            transition: all 0.4s;
            text-decoration: none;
            a {
              text-decoration: none;
              color: $black;
            }
            img {
              border-radius: 1rem 1rem 0 0;
              width: 100%;
              height: 190px;
              object-fit: cover;
              cursor: pointer;
            }
            .nouveau {
              padding: 0.4rem 0.7rem 0.4rem 0.7rem;
              border-radius: 0.2rem;
              background-color: $tertiary;
              color: $color-green;
              position: absolute;
              right: 1.2rem;
              top: 1rem;
              font-size: 0.9rem;
              font-weight: 500;
              cursor: pointer;
            }
            .mark {
              font-size: 1.1rem;
              font-weight: bold;
              margin: 0 0 0.5rem;
              margin: 1rem 0 0 1rem;
            }
            P {
              font-size: 1.1rem;
              font-weight: 300;
              margin: 0.5rem 0 0 1rem;
              text-align: start;
              line-height: 1rem;
            }
            .far.fa-heart {
              cursor: pointer;
              font-size: 1.5rem;
              position: absolute;
              right: 30px;
              bottom: 34px;
              z-index: 5;
              overflow: hidden;
              &:hover {
                transition: color 0.5s ease;
                color: transparent;
              }
              &:hover + .hidden {
                bottom: 57px;
              }
            }
            .hidden {
              position: absolute;
              width: 24px;
              height: 22px;
              right: 30px;
              bottom: 34px;
              background: $white;
              transition: all 0.2s ease;
              z-index: 2;
            }
            .fas.fa-heart {
              font-size: 1.5rem;
              position: absolute;
              right: 30px;
              bottom: 34px;
              background: linear-gradient(to top, $secondary, $primary);
              -webkit-background: linear-gradient(to top, $secondary, $primary);
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
            }
            .menu__heart {
              position: relative;
              top: 2px;
              .hidden {
                -webkit-background: $color-cards;
                background: $color-cards;
              }
            }
          }
        }
      }
    }
    @import "footer";
  }
}
