html {
  font-size: 16px;

  body {
    background-color: $color-white;
    font-family: $font-family-primary;
    width: auto;
    font-size: 1rem;
    color: $color-black;

    .load {
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-white;
      display: none 5s;
      opacity: 0;

      .chargement {
        border-top: 10px solid $secondary;
        border-right: 10px solid $tertiary;
        border-bottom: 10px solid $color;
        border-left: 10px solid $primary;
        border-radius: 50%;
        width: 100px;
        height: 100px;

        /*placement du loader au milieu de la page*/
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation-duration: spin 5s;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    @import "header";

    main {
      .menu {
        background-color: $color-cards;
        .map {
          height: 50px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          background-color: #e2e2e2;
          gap: 1.1rem;
          font-size: 1.2rem;
          font-weight: bold;
          box-shadow: inset 0 1px 3px #928e8e;
          i {
            margin-bottom: 0.3rem;
            font-size: 16px;
            cursor: pointer;
          }
          p {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            margin-right: 2.2rem;
          }
        }

        .reservez {
          font-size: 25px;
          font-weight: 900;
          margin: 2.4rem 0 0.8rem 0;
          line-height: 1.7rem;
          text-align: center;
        }
        .decouvrez {
          font-size: 18px;
          font-weight: 100;
          text-align: center;
        }
        .btn {
          padding: 1rem 1.5rem 1rem 1.5rem;
          border-radius: 2.5rem;
          border: none;
          margin: 1.8rem 0.5rem 3.5rem 5rem;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          color: white;
          background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
          box-shadow: 0 5px 10px 0 rgba(70, 52, 52, 0.4);
          &:hover {
            opacity: 0.8;
            box-shadow: 0 8px 15px 0 rgba(70, 52, 52, 0.4);
          }
        }
      }
      .fonctionnement {
        display: grid;
        background-color: $color-white;
        align-items: center;
        margin-bottom: 3rem;
        margin-right: 10px;
        h3 {
          margin: 2.8rem 1.3rem 1.4rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .ol {
          margin: 0;
          padding: 0;
          ol {
            display: grid;
            grid-gap: 1.5rem;
            margin-bottom: 1.25rem;
            align-items: center;

            .icon {
              padding: 1.5rem;
              border-radius: 1.5rem;
              background-color: $color-cards;
              font-size: 1.5rem;
              list-style-type: none;
              box-shadow: $box-shadow;
              cursor: pointer;
              margin: 0 0.5rem 0 2rem;
              counter-increment: restaus;
              position: relative;

              &:hover {
                background: $color-cards;
                	box-shadow: $box-shadow;
              }
              .i {
                font-size: 1rem;
                font-weight: bold;
                margin-left: 1rem;
                color: #817b7b;
                &:hover {
                  color: #9356dc;
                }
              }

              &:before {
                content: counter(restaus);
                width: 1.5rem;
                height: 1.5rem;
                background-color: #9356dc;
                border-radius: 50%;
                font-weight: 20px;
                font-size: 0.9rem;
                color: #fff;
                position: absolute;
                left: -0.7rem;
                top: 1.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              li::marker {
                color: #0c8166;
              }
              .un {
                font-size: 1.3rem;
                font-weight: bold;
                margin-left: 1rem;
                color: #817b7b;
                &:hover {
                  color: #9356dc;
                }
              }
              .deux {
                font-size: 1.1rem;
                font-weight: bold;
                margin-left: 1rem;
                color: #817b7b;
                &:hover {
                  color: #9356dc;
                }
              }

              .trois {
                font-size: 1rem;
                font-weight: bold;
                margin-left: 1rem;
                color: #817b7b;
                &:hover {
                  color: #9356dc;
                }
              }

              .text {
                margin: 1rem;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                color: black;
              }
            }
          }
        }
      }

      .restaurants {
        background-color: #f3f0f0;
        padding-bottom: 4rem;
        h3 {
          padding-top: 3rem;
          margin: 2.8rem 1.3rem 1.4rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .rest {
          font-size: 1.5rem;
          font-weight: bold;
          margin-left: 1rem;
        }
        .vignettes {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 1.2rem;
          margin: 0 1.2rem 0 1.2rem;
          .vignette {
            border-radius: 1rem;
            background-color: #fff;
            box-shadow: $box-shadow;
            height: 270px; 
            position: relative;
            cursor: pointer;

            img {
              border-radius: 1rem 1rem 0 0;
              width: 100%;
              height: 190px;                        
              object-fit: cover;
              cursor: pointer;
            }
            .nouveau {
              padding: 0.4rem 0.7rem 0.4rem 0.7rem;
              border-radius: 2px;
              background-color: #99e2d0;
              color: #0c8166;
              position: absolute;
              right: 1.2rem;
              top: 1rem;
              font-size: 0.9rem;
              font-weight: 500;
            }
            .mark {
              font-size: 1.1rem;
              font-weight: bold;
              margin: 0 0 0.5rem;
              margin: 1rem 0 0 1rem;
            }
            P {
              font-size: 1.1rem;
              font-weight: 300;
              margin: 0.5rem 0 0 1rem;
              text-align: start;
              line-height: 1rem;
            }
            .heart {
              font-size: 1.5rem;
              position: absolute;
              right: 2rem;
              bottom: 2rem;
              opacity: 0.5;
              outline: none;
              z-index: 1;
              &:visited {

                &::after {
                  opacity: 1;
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: blue;
                opacity: 0;
                z-index: index -1;
                transition: opacity 250ms;
              }
            }
          }
        }
      }
    }
    @import "footer";
  }
}
